<div ng-app="myShoppingList">
<div ng-controller="productsController">
<h2 class="page-header">Basket</h2>

<h4>Quantity</h4>
<input type="text" ng-model="quantity" />

<h4>Price/kg</h4>
<input type="text" ng-model="price" />

<h4>The price is: \{{calculate()}}</h4>
</div>
</div>
