<h2 class="page-header">Login</h2>
<form method="post" action="/users/login">

  <div class="form-group">
    <label for="userName">Email</label>
    <input id="emailName" type="text" class="form-control" name="email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="userPassword">Password</label>
    <input id="userPassword" type="password" class="form-control" name="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
  
</form>


