{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}


<form method="post">
  <div>
    new password
  </div>
  
  <div>
    <input type="password" name="password">
  </div>

  <div>
    confirm password
  </div>

   <div>
    <input type="password" name="password2">
  </div>
      
  <div>
    <input type="submit" value="update password">
  </div>

</form>

